body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}
a {
  color: black;
}
img {
  max-width: 100%;
  max-height: 100%;
}
* {
  box-sizing: border-box;
}

#github {
  background-image: url("images/git.png");
  background-size: contain;
  height: 50px;
  width: 50px;
}

#linkedin {
  background-image: url("images/linkedin.png");
  background-size: contain;
  height: 50px;
  width: 50px;
}

#welcome {
  margin-top: 50px;
}

#face {
  width: 100%;
  border-radius: 50%;
  padding: 0px;
  border: 3px white solid;
}

#intro-description {
  margin-top: 100px;
  margin-bottom: 40px;
}

.line {
  margin-top: 0px;
  border-top: 2px solid;
  width: 25%;
  float: right;
}
.navbar {
  background-color: #e5e5e5;
}
.tile span {
  width: 100%;
  text-align: center;
  background-color: #ff5733;
  opacity: 0.8;
  position: absolute;
}

.tile {
  border: 2px solid;
  height: 225px;
  width: 100%;
  margin-bottom: 200px;
  background-position: center;
  position: relative;
  overflow: hidden;
  background-size: 225px 200px;
  border-radius: 5%;
}

.contact-info {
  text-align: center;
}

.projectBox {
  border: solid 2px;
  border-radius: 10%;
  margin-right: 8.33%;
  margin-bottom: 30px;
}

#projects {
  margin-top: 150px;
}

h2.dark {
  text-align: center;
  color: black;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: black;
}
h2 {
  text-align: center;
  font-size: 40px;
  color: black;
}
h3 {
  text-align: center;
}
